### set new prefix key
set -g prefix C-q

### unbind default prefix key
unbind C-b

### reload settings
bind-key R source-file ~/.tmux.conf \; display-message ".tmux.conf reloaded"

### moving between panes with vim movement keys
bind h select-pane -L
bind l select-pane -R
bind j select-pane -D
bind k select-pane -U

### easy to remember split pane commands
bind | split-window -h
bind - split-window -v

### general
set -g default-terminal "screen-256color"
set -g history-limit 10000
set -g base-index 1
set -g pane-base-index 1
setw -g automatic-rename on 
set -g set-titles on 
setw -g mode-keys vi
setw -g monitor-activity on
set -g aggressive-resize off
set -g mouse on
set -g default-terminal screen-256color
set -g bell-action any
set -g visual-activity on
set -g status-interval 1

### status line
set -g status 1
set -g status-position bottom
set -g window-status-format "#{?client_prefix,#[bg=colour1],#[bg=colour4]}#I:#W"
set -g window-status-current-format "#{?client_prefix,#[bg=colour1],#[bg=colour4]}#I*:#W"

### top line
set -g status-bg colour8
set -g status-justify centre

### top left
set -g status-left "#{?client_prefix,#[bg=colour1],#[bg=colour4]}[#S]"
set -g status-left-length 40

### top right
set -g status-right "#{?client_prefix,#[bg=colour1],#[bg=colour4]} [%H:%M %d/%m]"

### bottom line
#set -g status-bg[1] colour4
#set -g status-justify[1] centre
#set -g status-format[1] "#[bg=colour2][#(id -nu)] #{pane_current_path}"
#set -g status-style "#[bg=colour2]"

### panes
set -g pane-active-border-style fg=colour2

### pane status
setw -g pane-border-status top
set -g pane-border-format "#{?pane_active,#[bg=colour2]#[fg=colour0],#[bg=colour8]#[fg=colour0]}#(id -nu)@#{pane_title} #{=-40:pane_current_path}"

# copy/paste to/from system clipboard
bind C-c run "tmux save-buffer - | xclip -i -sel clipboard"
bind C-v run "tmux set-buffer \"$(xclip -o -sel clipboard)\"; tmux paste-buffer"

### custom binding to tmux copy/paste
#bind 'v' begin-selection \; rectangle-toggle
#bind -T copy-mode-vi 'v' send -X begin-selection
#unbind p
#bind p paste-buffer
#bind -T copy-mode-vi 'p' send -X paste-buffer
#bind -T copy-mode-vi 'y' send -X copy-pipe-and-cancel "pbcopy"
#bind -T copy-mode-vi 'V' send -X select-line
#bind -T copy-mode-vi 'r' send -X rectangle-toggle
#bind 'C-v' send -X begin-selection \; send -X rectangle-toggle
#bind y copy-pipe "xsel -i -p -b"
#bind p run "xsel -o | tmux load-buffer - ; tmux paste-buffer"

